.App {
  text-align: center;
}

.box{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
}

.todo-box{
  border-radius: 4px;
  width: 400px;
  height: 500px;
  background-color: crimson;
}

.top-box{
  margin: 10px;
  padding: 10px;
  height: 80%;
}

.bottom-box{
  margin: 10px;
  padding: 10px;
  height: auto;
  border-top: solid 2px rgb(74, 74, 74);
  display: flex;
  align-items: center;
  justify-content: center;
}

.heading{
  border-bottom: 2px solid rgb(74, 74, 74);
}

.button-primary{
  background-color: white;
  border: none;
  border-radius: 3px;
  padding: 6px;
  font-weight: bold;
  cursor: pointer;
}

.todo-items{
  color: lightsteelblue;
  padding: 5px;
}